# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
env/
venv/
ENV/

# Data & Models (Exclude large binaries from Git)
data/
!data/raw/.gitkeep
!data/processed/.gitkeep
models/
vector_store/
logs/*.log
*.pkl
*.json
!data/**/*.json
!src/**/*.json
!reports/**/*.json
!experiments/**/*.json
!models/metadata/*.json

# IDEs
.vscode/
.idea/

# Environment Variables
.env
